.featured {
  background-image: url("../images/cover.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  border-radius: 7px;
  margin: 2em;
  padding: 2em;
  color: white;
}

.featured h1,
p {
  background: olivedrab;
  opacity: 80%;
  border-radius: 7px;
  color: #000;
  padding: 0 7px;
}

/* Left Column Home Page */
.productfromwprestapi {
  display: grid;
}

/* Right Column Home Page */
.recommended {
  background-color: #dddddd;
  box-shadow: 1px 1px 1px 1px grey;
  margin: 10px 10px auto;
  padding: 10px 30px 20px;
  display: none;
}

.recommended img {
  display: block;
  margin: 0 auto;
}

.recommended h4,
h3 {
  font-style: italic;
  box-shadow: none;
  text-align: center;
}
.recommended p {
  background: none;
}

/* =======================
     Media Queries 
==========================*/

/* =========================== */

@media (min-width: 1200px) {
  .featured h1,
  p {
    background: none;
  }

  .featured p {
    padding: 0;
  }
}
/* =========================== */

@media (min-width: 1300px) {
  .wrapper {
    display: flex;
  }

  main {
    flex: 3;
  }

  aside {
    flex: 1;
    margin-top: 3em;
  }

  .recommended {
    display: block;
  }
}
