* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  color: #6e6d6d;
  line-height: 1.6;
}

img {
  max-width: 100%;
  margin: 0 auto;
  display: block;
}

/* ================
      Typography 
  =================== */
h1,
h2 {
  font-family: Georgia, "Times New Roman", Times, serif;
  text-transform: uppercase;
}

p {
  font-size: 1.12rem;
}

h1 {
  font-size: 2rem;
  text-align: center;
}

h2 {
  font-size: 1.8rem;
  margin: 0 1em;
}

h3 {
  font-size: 1.5rem;
}

/* ================
    Buttons and links 
  =================== */
a {
  text-decoration: none;
}

a:hover,
a:focus {
  color: #731813;
}

.active {
  text-decoration: underline;
  font-weight: 700;
  letter-spacing: 0.1em;
  color: #731813;
}

button,
.button {
  padding: 5px 15px;
  text-align: center;
  font-weight: bold;
  text-transform: lowercase;
  text-decoration: none;
  border-radius: 7px;
  margin-top: 1em;
  border: none;
}

button:hover {
  cursor: pointer;
  background: white;
}

.login-btn,
.game-btn {
  background: #1c8554;
  color: #fff;
}
.login-btn {
  margin-right: 1em;
  margin-bottom: 0.5em;
  font-size: 1.5rem;
}

.signup-btn {
  background: orangered;
  color: #fff;
}

.game-btn {
  font-size: 1rem;
}

/* ================
    Header 
  =================== */

.container {
  display: flex;
  justify-content: space-between;
  margin: 0 1em;
}

.logo {
  margin: 1.5em 3em 0;
  width: 100px;
}

.login-signup {
  display: flex;
  flex-direction: column;
  margin: 0.4em;
}

.login {
  font-size: 1.5em;
  border: 2px solid #1c8554;
}
/* ================
    Navigation 
  =================== */

nav {
  display: none;
  position: absolute;
  width: 100%;
  font-size: 1rem;
  text-align: center;
  margin-top: 0;
  padding: 1em;
  line-height: 2rem;
}

#hamburger-menu {
  display: none;
}

#hamburger-menu:checked ~ nav {
  display: block;
  background-color: #698ebf;
  z-index: 1;
}

nav a {
  font-size: 0.9rem;
  font-weight: bold;
  color: #fff;
}

nav,
footer {
  text-transform: uppercase;
  color: #fff;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  margin-left: auto;
}

#menu-fa-bars {
  font-size: 1.5rem;
  padding: 1em;
  position: absolute;
  top: 1em;
}

/* =======================
     Footer 
==========================*/

footer {
  display: flex;
  flex-direction: column;
  background-color: #6e6d6d;
  margin-top: 2em;
  padding: 1em;
  text-transform: lowercase;
}

footer a {
  color: #fff;
}

.copyright {
  color: #698ebf;
  text-align: center;
  background: #fff;
  margin-bottom: 1em;
  padding-bottom: 0;
}

/* =======================
     Miscellanous 
==========================*/

.vertical-line {
  padding: 0px 20px;
  border-right: 3px solid #fff;
}

.vertical-line-account {
  padding: 0px 10px;
  border-right: 1px solid #fff;
}

.horizontal-line {
  margin: 1em;
  padding: 10px;
  border-bottom: 2px solid #ddd;
}

.orange-text {
  color: #f29727;
  padding: 0 1em;
}

.fa-shopping-cart {
  font-size: 1.5rem;
  margin: 10px auto;
  position: relative;
}

.fa-heart {
  color: orangered;
  margin-left: 1em;
}

.fa-heart:hover {
  color: purple;
}

.breadcrumbs {
  list-style: none;
}
.breadcrumbs li {
  display: inline;
  text-transform: lowercase;
  content: "/";
}

.breadcrumbs li:before {
  content: "/ ";
}

.current {
  text-transform: uppercase;
}

.pagination {
  display: inline-block;
  margin: 2em;
}

.pagination a {
  padding: 0.5em;
}

.pagination a:hover {
  background: lightgrey;
}
.pagination-current {
  background: lightgrey;
}

.new-label,
.used-label {
  color: #fff;
  border-radius: 0 7px 0 0;
  text-transform: uppercase;
  padding: 0 1em;
  width: 30%;
  position: relative;
  bottom: 1.3em;
  right: 1.1em;
  margin-bottom: 0;
}

.new-label {
  background: red;
}

.used-label {
  background: #1c8554;
}
.center {
  text-align: center;
}

.left {
  text-align: left;
  margin-left: 1em;
  background: none;
}

/* =======================
     Media Queries 
==========================*/
@media (min-width: 600px) {
  img {
    width: 60%;
  }

  footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}

/* =========================== */

@media (min-width: 760px) {
  #menu-fa-bars {
    display: none;
  }

  .logo {
    margin-left: 20px;
  }
  nav {
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 0;
    border-right: 2px solid #fff;
  }

  .nav-main {
    flex: 10;
    background-color: #698ebf;
    padding: 10px;
    text-align: left;
  }

  .nav-checkout {
    flex: 1;
    background-color: #f29727;
    padding: 5px 50px 0 0;
    margin: 0;
    text-align: right;
  }
  .nav-checkout img {
    padding: 10px 0 0;
  }
  .add-wishlist img {
    max-width: 35px;
  }
  h1,
  p {
    text-align: left;
    padding-left: 0;
  }
  #nav-search {
    display: none;
  }
}

/* =========================== */

@media (min-width: 960px) {
  nav a {
    font-size: 1rem;
  }
}
/* Loading indicator */
.loading {
  font-style: italic;
  margin: 1em 0 3em 2em;
}

.loading-indicator {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 1px solid grey;
  border-left: 5px solid #698ebf;
  border-right: 5px solid #698ebf;
  border-top: 5px solid lightgrey;
  border-bottom: 5px solid lightgrey;
  animation: spin 3s linear infinite;
  margin-left: 3em;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
